@page "/sim/lobby/{id}"

@inject Services.SimulationService simulationService;
@inject NavigationManager navigationManager;

@if (Simulation == null)
{
    <p>Lobby wird geladen!</p>
}
else
{
    <MUNityClient.Shared.VirtualCommittee.SimulationPrePhase Id="@Simulation.SimulationId"></MUNityClient.Shared.VirtualCommittee.SimulationPrePhase>
}

@code {
    [Parameter]
    public string Id { get; set; }


    public MUNity.Schema.Simulation.SimulationResponse Simulation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        int id = 0;
        if (int.TryParse(Id, out id))
        {
            this.Simulation = await simulationService.GetSimulation(id);
            if (Simulation.Phase == MUNity.Schema.Simulation.SimulationEnums.GamePhases.Online)
            {
                navigationManager.NavigateTo($"/sim/run/{id}");
            }
        }

        //return base.OnInitializedAsync();
    }
}
