@page "/sim/home"

@inject Services.SimulationService simulationService;
@inject NavigationManager navigation;

@inject IJSRuntime JSRuntime

@if (_connectionState == ConnectionStates.Connected)
{
    @* Erstellen *@
    <div class="row col-12 m-0 py-0 px-4">
        <div class="col-4">
            <MUNityClient.Shared.VirtualCommittee.CreateVirtualCommittee></MUNityClient.Shared.VirtualCommittee.CreateVirtualCommittee>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Simulationen
                </div>
                <div class="card-body">
                    @if (_simulations != null)
                    {
                        if (_simulations.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Mit Passwort</th>
                                        <th>Status/Phase</th>
                                        <th>Beitreten</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var simulation in this._simulations)
                                    {
                                        <tr>
                                            <td>@simulation.Name</td>
                                            <td>@simulation.UsingPassword.ToString()</td>

                                            @if (simulation.Phase == Models.Simulation.Simulation.GamePhases.Lobby)
                                            {
                                                <td>Vorbereitungsphase</td>
                                                <td><button class="btn btn-small btn-success" @onclick="() => EnterSimulation(simulation.SimulationId)">Beitreten</button></td>
                                            }
                                            else if (simulation.Phase == Models.Simulation.Simulation.GamePhases.Online)
                                            {
                                                <td>Aktiv</td>
                                                <td><button class="btn btn-small btn-success" @onclick="() => EnterSimulation(simulation.SimulationId)">Beitreten</button></td>
                                            }
                                            else if (simulation.Phase == Models.Simulation.Simulation.GamePhases.Offline)
                                            {
                                                <td>Offline</td>
                                                <td><button class="btn btn-small btn-info">Einleiten</button></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Keine Simulationen gefunden :(</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @* Simulationen aus den Tokens (ignorieren wird erst einmal denn wir rufen ja alle existierenden Lobbies ab. *@
    @*@if (_tokens != null)
        {
            <h1>Gespeicherte Sessions</h1>
            <div class="row">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Beitreten</th>
                                <th>Entfernen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var token in _tokens)
                            {
                                <tr>
                                    <td>@token.Name</td>
                                    <td><button class="btn btn-small btn-success" @onclick="() => EnterSimulation(token.SimulationId)">Beitreten</button></td>
                                    <td><button class="btn btn-small btn-danger">Entfernen</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }*@
}
else if (_connectionState == ConnectionStates.Connecting)
{
    <div class="row d-flex w-100 justify-content-center mt-5">
        <div class="d-flex w-100 justify-content-center">
            <div class="spinner-border text-primary p-4" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            Es wird versucht eine Verbindung zum Server herzustellen...
        </div>
    </div>
}
else if (_connectionState == ConnectionStates.CantReachServer)
{
    <div class="row col-12 d-flex justify-content-center my-2 align-items-center">
        <div class="d-flex align-items-center text-danger">
            <i class="fas fa-exclamation mr-2"></i> Die Verbindung zum Server konnte nicht hergestellt werden.
        </div>
    </div>
}


    <MUNityClient.Shared.Bootstrap.Modal Title="Passwort Eingeben" @ref="this._passwordModal"
                                         OnSubmitCallback="JoinSimulation">
        <EditForm Model="_joinForm" OnSubmit="JoinSimulation">
            <div class="form-group">
                <label>Anzeigename</label>
                <InputText @bind-Value="_joinForm.DisplayName" class="form-control"></InputText>
            </div>
            @if (this._selectedSimulation != null && _selectedSimulation.UsingPassword)
            {
                <div class="form-group">
                    <label>Passwort</label>
                    <InputText @bind-Value="_joinForm.Password" class="form-control" type="password"></InputText>
                </div>
            }
        </EditForm>
    </MUNityClient.Shared.Bootstrap.Modal>



<MUNityClient.Shared.Bootstrap.Modal Title="Simulation erstellt" @ref="_pinModal"
                                     OnSubmitCallback="RootToSimulation">
    <h3>Ihr Pin ist</h3>
    <div class="row m-0 p-0 d-flex align-items-center">
        <h4>@_pin</h4>
        <i class="ml-2 fas fa-copy" @onclick="CopyTextToClipboard"></i>
    </div>
    <small>Diesen Pin am Besten irgendwo notieren. Wir speichern einen Sicherheitsschlüssel in Ihrem Browser zwischen. Geht dieser verloren wird der Pin benötigt, damit Sie sich wieder in diese Simulation einwählen können.</small>
</MUNityClient.Shared.Bootstrap.Modal>

@code {

    private enum ConnectionStates
    {
        Connecting,
        Connected,
        CantReachServer
    }

    private MUNityClient.Shared.Bootstrap.Modal _passwordModal;

    private ConnectionStates _connectionState { get; set; } = ConnectionStates.Connecting;

    private ICollection<Models.Simulation.SimulationToken> _tokens { get; set; }

    private ICollection<Models.Simulation.SimulationListItem> _simulations { get; set; }

    private Models.Simulation.SimulationListItem _selectedSimulation;

    private MUNityClient.Models.Simulation.Schema.JoinAuthenticate _joinForm = new Models.Simulation.Schema.JoinAuthenticate();

    private MUNityClient.Shared.Bootstrap.Modal _pinModal;

    private string _pin;

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", _pin);
    }

    private void EnterSimulation(int id)
    {
        var fittingToken = _tokens?.FirstOrDefault(n => n.SimulationId == id);
        if (fittingToken == null)
        {
            this._selectedSimulation = this._simulations.FirstOrDefault(n => n.SimulationId == id);
            if (_selectedSimulation != null)
            {
                // Draw the Modal
                this.StateHasChanged();
                // Aks for password
                _passwordModal.Open();
            }
        }
        else
        {
            // TODO: Zustand anfragen und dann entweder in die Lobby oder direkt ins Game!
            navigation.NavigateTo($"/sim/lobby/{id}");
        }
    }

    private async Task JoinSimulation()
    {
        var pinToken = await this.simulationService.JoinSimulation(_selectedSimulation.SimulationId, _joinForm);
        _passwordModal.Close();
        this._pin = pinToken.Pin;
        this._pinModal.Open();

    }

    private void RootToSimulation()
    {
        this._pinModal.Close();
        this.navigation.NavigateTo($"/sim/lobby/{_selectedSimulation.SimulationId}");
    }

    protected async override Task OnInitializedAsync()
    {
        var serverOnline = await this.simulationService.IsOnline();
        this._connectionState = (serverOnline) ? ConnectionStates.Connected : ConnectionStates.CantReachServer;

        if (serverOnline)
        {
            _tokens = await simulationService.GetStoredTokens();
            _simulations = await simulationService.GetSimulationList();
        }
    }
}
