@page "/sim/run/{id}"

@inject Services.SimulationService simulationService;

@if (_simulation != null && _auth != null)
{
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Gremiumansicht</div>
                        <div class="body">
                            @if (_auth.CanCreateRole && _userSetups != null)
                            {
                                foreach (var user in _userSetups)
                                {
                                    <MUNityClient.Shared.VirtualCommittee.SimulationLiveUserSetup User="user" Role="_simulation.Roles.FirstOrDefault(n => n.SimulationRoleId == user.RoleId)"></MUNityClient.Shared.VirtualCommittee.SimulationLiveUserSetup>
                                }
                            }
                            else if (!_auth.CanCreateRole && _userItems != null)
                            {
                                foreach (var user in _userItems)
                                {
                                    <MUNityClient.Shared.VirtualCommittee.SimulationLiveUserBase User="user" Role="_simulation.Roles.FirstOrDefault(n => n.SimulationRoleId == user.RoleId)"></MUNityClient.Shared.VirtualCommittee.SimulationLiveUserBase>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Steuerung</div>
                        <div class="card-body">
                            <div class="btn btn-primary" @onclick='() => MakeRequest("Redebeitrag")'>Antrag auf Redebeitrag</div>
                            <div class="btn btn-primary" @onclick='() => MakeRequest("Frage")'>Antrag auf Frage/Kurzbemerkung</div>
                            <div class="btn btn-primary" @onclick='() => MakeRequest("GO")'>Antrag an Geschäftsordnung</div>
                            <div class="btn btn-primary" @onclick='() => MakeRequest("Persoenlich")'>Persönlicher Antrag</div>
                            @if (_auth.CanCreateRole)
                            {
                                <div class="btn btn-danger" @onclick='() => BackToLobby()'>Zurück in die Lobby</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h1>Platzhalter für die Redeliste</h1>
        </div>
    </div>
}


@code {
    [Parameter]
    public string Id { get; set; }

    private MUNity.Schema.Simulation.SimulationResponse _simulation;

    private MUNity.Schema.Simulation.SimulationAuthSchema _auth;

    private List<MUNity.Schema.Simulation.SimulationUserItem> _userItems;

    private List<MUNity.Schema.Simulation.SimulationUserSetup> _userSetups;

    private Services.SocketHandlers.SimulationSocketHandler _socket;

    protected override async Task OnInitializedAsync()
    {
        int id = 0;
        if (int.TryParse(Id, out id))
        {
            this._simulation = await simulationService.GetSimulation(id);
            this._simulation.Roles = await simulationService.GetRoles(id);
            this._auth = await simulationService.GetMyAuth(id);
            _socket = await simulationService.Subscribe(id);
            AddHandlers(_socket);
            if (_auth.CanCreateRole)
            {
                this._userSetups = await simulationService.GetUserSetups(id);
            }
            else
            {
                this._userItems = (await simulationService.GetUsers(id)).ToList();
            }
            this.StateHasChanged();
        }
    }

    private async Task BackToLobby()
    {
        var response = await this.simulationService.SetPhase(this._simulation.SimulationId, (int)MUNity.Schema.Simulation.SimulationEnums.GamePhases.Lobby);
    }

    private void AddHandlers(Services.SocketHandlers.SimulationSocketHandler socket)
    {
        socket.UserRequest += UserRequest;
        socket.UserRequestAccpted += UserRequestAccepted;
        socket.UserRequestDeleted += UserRequestDeleted;
        socket.UserConnected += OnUserConnected;
        socket.UserDisconnected += OnUserDisconnected;
    }

    private void OnUserConnected(int sender, MUNity.Schema.Simulation.SimulationUserItem user)
    {
        if (_userItems != null)
        {
            var tmpUser = _userItems.FirstOrDefault(n => n.SimulationUserId == user.SimulationUserId);
            if (tmpUser != null)
            {
                tmpUser.IsOnline = true;
                tmpUser.DisplayName = user.DisplayName;
                this.StateHasChanged();
            }
        }

        if (_userSetups != null)
        {
            var tmpUser = _userSetups.FirstOrDefault(n => n.SimulationUserId == user.SimulationUserId);
            if (tmpUser != null)
            {
                tmpUser.IsOnline = true;
                tmpUser.DisplayName = user.DisplayName;
                this.StateHasChanged();
            }
        }
    }

    private void OnUserDisconnected(int sender, MUNity.Schema.Simulation.SimulationUserItem user)
    {
        if (_userItems != null)
        {
            var tmpUser = _userItems.FirstOrDefault(n => n.SimulationUserId == user.SimulationUserId);
            if (tmpUser != null)
            {
                tmpUser.IsOnline = false;
                this.StateHasChanged();
            }
        }

        if (_userSetups != null)
        {
            var tmpUser = _userSetups.FirstOrDefault(n => n.SimulationUserId == user.SimulationUserId);
            if (tmpUser != null)
            {
                tmpUser.IsOnline = false;
                this.StateHasChanged();
            }
        }
    }

    private void UserRequest(int sender, int userId, string request)
    {
        if (this._simulation == null) return;
        var user = this._simulation.Users.FirstOrDefault(n => n.SimulationUserId == userId);
        if (user == null) return;
        this.StateHasChanged();
    }

    private void UserRequestAccepted(int sender, int userId, string request)
    {
        if (this._simulation == null) return;
        var user = this._simulation.Users.FirstOrDefault(n => n.SimulationUserId == userId);
        if (user == null) return;
        this.StateHasChanged();
    }

    private void UserRequestDeleted(int sender, int userId, string request)
    {
        if (this._simulation == null) return;
        var user = this._simulation.Users.FirstOrDefault(n => n.SimulationUserId == userId);
        if (user == null) return;
        this.StateHasChanged();
    }

    private async Task MakeRequest(string request)
    {
        if (this._simulation == null) return;
        await this.simulationService.MakeRequest(this._simulation.SimulationId, request);
    }

    private async Task AcceptRequest(int userId, string request)
    {
        if (this._simulation == null) return;
        await this.simulationService.AcceptRequest(this._simulation.SimulationId, userId, request);
    }

    private async Task DeleteRequest(int userId, string request)
    {
        if (this._simulation == null) return;
        await this.simulationService.DeleteRequest(this._simulation.SimulationId, userId, request);
    }
}
