@using MUNityClient.Models.Resolution;

<div class="card">
    <div class="card-header">
        <div class="btn-group btn-group-sm">
            <button class="btn btn-outline-primary">Höher</button>
            <button class="btn btn-outline-primary">Tiefer</button>
            <button class="btn btn-outline-warning">Sperren</button>
            <button class="btn btn-outline-success">Als kontrolliert markieren</button>
            <button class="btn btn-outline-danger">Löschen</button>
        </div>
    </div>
    <div class="card-body">
        <EditForm Model="Paragraph">
            <InputTextArea @bind-Value="Paragraph.Text" class="form-control" />
        </EditForm>

    </div>
    <div class="card-footer">
        <div class="text-warning">Der Preamble Paragraph enthält keinen gültigen Operator.</div>
        Aktuelle Bearbeiter:
        <div class="badge badge-info">Nutzer 1</div>
        <div class="badge badge-info">Nutzer 2</div>
        Status:
        <div class="badge badge-success">Vom Sek kontrolliert.</div>
    </div>
</div>
@code {
    public Resolution Resolution { get; set; }

    public PreambleParagraph Paragraph { get; set; }

    public PreambleParagraphEditor()
    {
        Paragraph = new PreambleParagraph();
    }
}
