@using MUNityClient.Models.Resolution;
@using MUNityClient.Shared.Resa.Reader;

@inject MUNityClient.Services.ResolutionService resolutionService;
@if (Resolution != null)
{

    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <h3>@Resolution.Header.Topic</h3>
            @if (!string.IsNullOrEmpty(this.Resolution.Header.SubmitterName))
            {
                <h4>EINBRINGER: @Resolution.Header.SubmitterName.ToUpper()</h4>
            }
            else
            {
                <h4>Kein Einbringer</h4>
            }

            @if (!string.IsNullOrEmpty(this.Resolution.Header.CommitteeName))
            {
                <h4>@Resolution.Header.CommitteeName.ToUpper(),</h4>
            }
            else
            {
                <h4>UNBEKANNTES GREMIUM!,</h4>
            }

        </div>
    </div>


    <!-- Preamble -->
    <div class="row">
        @foreach(var pp in this.Resolution.Preamble.Paragraphs)
        {   
            <ResaReaderPreambleParagraph Paragraph="pp"></ResaReaderPreambleParagraph>
        }
    </div>

    <!-- Operative Section -->
    <div class="row">
        @foreach (var op in Resolution.OperativeSection.Paragraphs)
        {
            <ResaReaderOperativeParagraph Paragraph="op"
                                          Pathname="@Resolution.GetIndexNameOfOperativeParagraph(op)"
                                          DeleteAmendments="this.Resolution.OperativeSection.DeleteAmendments.Where(n => n.TargetSectionId == op.OperativeParagraphId)"
                                          ChangeAmendments="this.Resolution.OperativeSection.ChangeAmendments.Where(n => n.TargetSectionId == op.OperativeParagraphId)"
                                          MoveAmendments="this.Resolution.OperativeSection.MoveAmendments.Where(n => n.TargetSectionId == op.OperativeParagraphId)"></ResaReaderOperativeParagraph>
        
        }
    </div>
    
}
else
{
    <div class="alert alert-danger">Resolution konnte nicht gefunden werden :(</div>
}

@code {

    [Parameter]
    public Resolution Resolution { get; set; }


    public ResolutionReader()
    {

    }
}
