@page "/"

<h1>Willkommen bei MUNity</h1>

Eine kostenlose, Open-Source Plattform für Model United Nations Konferenzen und Tools für übergreifende Konferenzen.

<ul>
    <li><a href="/resa/edit">Resolution Editor</a></li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
