@page "/resa/edit"

<h3>ResolutionEditor</h3>

<div class="row">
    <!-- Preamble and Operative Section-->
    <div class="col-lg-8">
        <MUNityClient.Shared.Resa.PreambleParagraphEditor />
        
    </div>

    <!-- Amendments -->
    <div class="col-lg-4">

    </div>
</div>

@code {
    //[Parameter]
    //public string Id { get; set; }


}
