@inject Services.SimulationService _simulationService;

@if (Users != null)
{
    <div class="card">
        <div class="card-header">Benutzer</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Online</th>
                        <th>PublicId</th>
                        <th>Rolle</th>
                        <th>Passwort</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Users)
                    {
                        if (user != null)
                        {
                            <UserListItemAdmin User="user" SimulationId="SimulationId" Roles="Roles"></UserListItemAdmin>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button class="btn btn-succes btn-block" @onclick="() => NewUser()">Neuer Benutzer</button>
        </div>
    </div>
}
else
{
    <p>Benutzer werden geladen</p>
}

@code {
    [Parameter]
    public int SimulationId { get; set; }

    [Parameter]
    public Services.SocketHandlers.SimulationSocketHandler SocketHandler { get; set; }

    public List<MUNity.Schema.Simulation.SimulationUserSetup> Users { get; set; }

    [Parameter]
    public List<MUNity.Schema.Simulation.SimulationRoleItem> Roles { get; set; }

    protected override async Task OnInitializedAsync()
    {

        this.Users = await _simulationService.GetUserSetups(this.SimulationId);
        if (Roles == null)
        {
            this.Roles = await _simulationService.GetRoles(this.SimulationId);
        }
        if (SocketHandler != null)
        {
            SocketHandler.RolesChanged += OnRolesChanged;
            SocketHandler.UserConnected += OnUserConnected;
            SocketHandler.UserDisconnected += OnUserDisconnected;
            SocketHandler.UserRoleChanged += OnUserRoleChanged;
        }
    }

    private void OnUserRoleChanged(int sender, int userId, int roleId)
    {
        if (this.Users == null) return;
        var user = Users.FirstOrDefault(n => n.SimulationUserId == userId);
        if (user != null)
        {
            user.RoleId = roleId;
            this.StateHasChanged();
        }
    }

    private void OnRolesChanged(int sender, IEnumerable<MUNity.Schema.Simulation.SimulationRoleItem> roles)
    {
        this.Roles = roles.ToList();
        this.StateHasChanged();
    }

    private void OnUserConnected(int sender, MUNity.Schema.Simulation.SimulationUserItem usr)
    {
        var user = Users.FirstOrDefault(n => n.SimulationUserId == usr.SimulationUserId);
        if (user != null)
        {
            user.IsOnline = true;

            if (!string.IsNullOrEmpty(usr.DisplayName) && usr.DisplayName != user.DisplayName)
                user.DisplayName = usr.DisplayName;

            StateHasChanged();
        }
    }

    private void OnUserDisconnected(int sender, MUNity.Schema.Simulation.SimulationUserItem usr)
    {
        var user = Users.FirstOrDefault(n => n.SimulationUserId == usr.SimulationUserId);
        if (user != null)
        {

            user.IsOnline = false;
            this.StateHasChanged();
        }
    }

    private async Task NewUser()
    {
        var user = await _simulationService.CreateUser(SimulationId);
        if (user != null)
        {
            Users.Add(user);
        }
    }
}
