@page "/simsim/game/{id}"

<h3>Simulation</h3>

@code {      
    protected override Task OnInitializedAsync()
    {
        // TODO: 
        // 1. Token für diese SimulationsId holen
        // Ist kein Token vorhanden zurück auf Beitritts Seite gehen
        // 2. Mit Token die Simulation vom Server holen

        return base.OnInitializedAsync();
    }
}
